<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>User : Change Password | Toshokan</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>
                    <p class="card-description">
                        <!-- Basic form elements -->

                    <form th:action="@{/editpassword/save}" method="post" th:object="${newpassword}"
                          style="max-width: 350px; margin: 0 auto;" class="form-signin">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="password" id="password" onchange='check_pass();'
                                   class="form-control" placeholder="New Password" th:field="*{newPassword}"/>
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" name="confirm_password" id="confirm_password"
                                   onchange='check_pass();' class="form-control"
                                   placeholder="Confirm New Password"/>
                        </div>
                        <input type="submit" name="submit" value="Submit" id="submit"
                               class="btn btn-primary mr-2" disabled/>
                        <a class="btn btn-light" th:href="@{/homepage}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>