<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>Product : Add | Toshokan</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Form Add Product</h4>
                    <p class="card-description">
                        <!-- Basic form elements -->
                    </p>
                    <form class="forms-sample" th:action="@{/product/save}" th:object="${product}"
                          method="post">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Name</label>
                            <input type="text" class="form-control" id="exampleInputName1"
                                   placeholder="Product Name" th:field="*{productName}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Category</label>
                            <select type="radio" name="productCategory" th:field="*{productCategory}"
                                    class="form-control">
                                <option th:each="category :${listCategory}"
                                        th:text="${category.nameCategory}"
                                        th:value="${category.nameCategory}">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Stock</label>
                            <input type="number" class="form-control" id="exampleInputName5"
                                   placeholder="Stock" th:field="*{productStock}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Image Link</label>
                            <input type="text" class="form-control" id="exampleInputName6"
                                   placeholder="Image Link" th:field="*{imageLink}">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a class="btn btn-light" th:href="@{/product}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>