<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>Product : Detail | Toshokan</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detail Product</h4>
                    <p class="card-description">
                        <!-- Basic form elements -->
                    </p>
                    <form class="forms-sample" th:object="${product}" method="post">
                        <input type="hidden" th:field="*{productNo}" readonly="readonly"/>
                        <div class="form-group">
                            <img th:src="*{imageLink}" default="image">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Product Name</label>
                            <input type="text" class="form-control" id="exampleInputName1"
                                   placeholder="Product Name" th:field="*{productName}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Product Name</label>
                            <input type="text" class="form-control" id="exampleInputNamex"
                                   placeholder="Product Name" th:field="*{productCategory}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Stock</label>
                            <input type="number" class="form-control" id="exampleInputName5"
                                   placeholder="Stock" th:field="*{productStock}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Image Link</label>
                            <input type="text" class="form-control" id="exampleInputName6"
                                   placeholder="Image Link" th:field="*{imageLink}" readonly>
                        </div>
                        <a th:href="@{'/borrow/add/' + ${product.productNo}}" class="btn btn-primary mr-2">Borrow</a>
                        <a class="btn btn-light" th:href="@{/product}">Cancel</a>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                ID Transaction
                            </th>
                            <th>
                                User ID
                            </th>
                            <th>
                                Product ID
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="borrow : ${listBorrow}">
                            <td th:text="${borrow.id}">ID Transaction</td>
                            <td th:text="${borrow.idUser}">User ID</td>
                            <td th:text="${borrow.idProduct}">Product ID</td>
                            <td th:text="${borrow.userName}">Username</td>
                            <td th:text="${borrow.userEmail}">Email</td>
                            <td>

                                <a type="button" class="btn btn-success btn-rounded btn-fw"
                                   th:href="@{'/product/detail/' + ${product.productNo}}">View</a>
                                <a type="button" class="btn btn-info btn-rounded btn-fw"
                                   th:href="@{'/product/edit/' + ${product.productNo}}">Edit</a>
                                <a type="button" class="btn btn-danger btn-rounded btn-fw"
                                   th:href="@{'/product/delete/' + ${product.productNo}}">
                                    X
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>