<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>Product : Detail | Toshokan</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detail Product</h4>
                    <p class="card-description">
                        <!-- Basic form elements -->
                    </p>
                    <form class="forms-sample" th:object="${product}" method="post">
                        <input type="hidden" th:field="*{productNo}" readonly="readonly"/>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <img th:src="*{imageLink}" default="image" style="
                width:100%;
                height:100%;
                object-fit:cover;">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h1 th:text="*{productName}">Product Name</h1>
                                    <p>Category : <b><span th:text="*{productCategory}">Category</b></p>
                                    <p>Stock : <b><span th:text="*{productStock}">Stock</span></b></p>
                                    <a th:href="@{'/borrow/add/' + ${product.productNo}}"
                                       class="btn btn-primary mr-2">Borrow</a>
                                    <a class="btn btn-light" th:href="@{/product}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User Borrow</h4>
                    <p class="card-description">
                        <!-- Basic form elements -->
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    ID Transaction
                                </th>
                                <th>
                                    User ID
                                </th>
                                <th>
                                    Product ID
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Email
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="borrow : ${listBorrow}">
                                <td th:text="${borrow.id}">ID Transaction</td>
                                <td th:text="${borrow.idUser}">User ID</td>
                                <td th:text="${borrow.idProduct}">Product ID</td>
                                <td th:text="${borrow.userName}">Username</td>
                                <td th:text="${borrow.userEmail}">Email</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>