<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>User | Toshokan</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User List</h4>
                    <a class="btn btn-light" th:href="@{/user/new}">Add User</a>
                    <p class="card-description">
                        <!-- Add class <code>.table-striped</code> -->
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input class="checkbox" type="checkbox">
                                </th>
                                <th>
                                    Fullname
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="users : ${listUser}">
                                <td><input class="checkbox" type="checkbox"></td>
                                <td th:text="${users.name}">Name</td>
                                <td th:text="${users.userName}">UserName</td>
                                <td th:text="${users.email}">Email</td>
                                <td>
                                    <a type="button" class="btn btn-success btn-rounded btn-fw">View</a>
                                    <a type="button" class="btn btn-info btn-rounded btn-fw"
                                       th:href="@{'/user/edit/' + ${users.id}}">Edit</a>
                                    <a type="button" class="btn btn-danger btn-rounded btn-fw"
                                       th:href="@{'/user/delete/' + ${users.id}}">
                                        X
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="mt-3">
                            Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                            &nbsp; &nbsp; - &nbsp;
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
                                        <a class="page-link" th:href="@{'/user?page=' + ${i-1}}">[[${i}]]</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>